<br>
<hr>
<br>
<strong>{{encabezado}}</strong>
<br>
<p>Cadena Original: {{encabezado|default:"Sección sin título"}}</p>
<p>Uso de Join: {{encabezado|join:' - '}}</p>
<p>Tamaño de la cadena: {{encabezado|length}}</p>
<p>Mayúscula: {{encabezado|upper}}</p>
<p>Minúscula: {{encabezado|lower}}</p>
<p>Contador de palabras: {{encabezado|wordcount}}</p>
<p>{{encabezado}}</p>
<p>{{encabezado}}</p>
<p>{{encabezado}}</p>
<br>
<p>Lista Original: {{estudiantes}}</p>
<p>Uso Join: {{estudiantes|join:' , '}}</p>
<p>Primero de la lista: {{estudiantes|first}}</p>
<p>Último de la lista: {{estudiantes|last}}</p>
<p>Escoger aleatoreamente un elemento de la lista: {{estudiantes|random}}</p>
<p>Tamaño de la lista: {{estudiantes|length}}</p>